*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100wh;
    background-color: navy;
    color: white;
}

main{
    justify-content: center;
    display: flex;
    align-items: center;

}

.start {

}

.hide {
    display: none;
}

#question-card {
}